.App {
  text-align: center;
}

.App-logo {
  opacity: 0.3;
  height: 16vmin;
  pointer-events: none;
  position: fixed;
  margin-top: -240px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-logo {
  width: 5%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.row {
  background: #fff;
}

h2 {
  margin-bottom: 20px;
}